h1, h2 {
    text-align: center;
    color: #333; /* Cor cinza escuro */
}

.container {
    display: flex;
    flex-basis: 1200px;
    background-color: rgba(50, 50, 50, 0.7); /* Cor cinza escuro com opacidade */
    border-radius: 10px;
}

img {
    width: 150px;
    left: 120px;
}

form {
    border-radius: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

input:hover {
    cursor: pointer;
    border-color: #333; /* Cor cinza escuro */
}

#btn {
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    background: #555; /* Cor cinza médio */
    border-radius: 5px;
    letter-spacing: 2px;
    margin: 5px;
}

#btn:hover {
    background: rgba(50, 50, 50, 0.5); /* Cor cinza médio com opacidade */
    color: white;
    cursor: pointer;
}

.lista {
    display: flex;
    border-radius: 20px;
    background: rgba(50, 50, 50, 0.35); /* Cor cinza escuro com opacidade */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(50, 50, 50, 0.18); /* Cor cinza escuro com opacidade */
}

.TabelaIMC {
    list-style: none;
}

.ResultadosIMC {
    list-style: none;
}

#res, #res2 {
    background-color: rgba(255, 255, 255, 0.5); /* Cor cinza médio com opacidade */
    color: black;
}